@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/jetbrains-mono';

@layer base {
  :root {
    font-family: Inter, system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: dark;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
}

@layer utilities {
  /* Hide number input spinners */
  .no-spinners::-webkit-outer-spin-button,
  .no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinners {
    -moz-appearance: textfield;
  }
}